.hide-cart {
  @apply uppercase font-bold text-sm rounded-full border border-solid border-black  transition-all duration-200 px-4 py-1 mt-2;
}

.hide-cart:hover {
  @apply bg-black text-white;
}

.add-to-cart {
  @apply bg-black w-8 h-8 text-white self-center uppercase font-bold text-sm p-2 inline-block text-center transition-colors duration-300 rounded-md;
}

.add-to-cart:hover {
 @apply bg-blue-400;
}
